
html {
    font-family: "ff-din-round-web-pro", sans-serif;
    font-family: ars-maquette-web, sans-serif;
    color: #222;
    font-size: 1vw;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    background-color: #ccc;
    
    font-size: 0;
    line-height: 0;
}

a, div {
    box-sizing: border-box;
}

.page {
    position: relative;
    width: 100%;
    
    background-color: #fff;
}

.vs-container {
    width: 100%;
}

/* Header */

.vs-header {
    height: 13.2rem;
    padding: 3rem;
    
    border: 1px solid #222;
    border-bottom: none;
}

.header-title {
    font-size: 3.2rem;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.header-category {
    color: #d3222a;
    font-size: 4rem;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.vs-shortcuts {
    padding: 0;
    
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

.shortcut {
    cursor: pointer;
    
    display: inline-block;
    
    padding: 3rem 1rem;
    
    border-top: 1px dotted #ddd;
    
    color: #bbb;
    font-size: 2.4rem;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
}

/* Shortcut styles, counting */

/* 1 shortcut */

.shortcut:nth-child(1):nth-last-child(1) {
    width: 100%;
}

.category1 .shortcut:nth-child(1):nth-last-child(1) {
    color: #d3222a;
}

/* 2 shortcuts */

.shortcut:nth-child(1):nth-last-child(2),
.shortcut:nth-child(2):nth-last-child(1) {
    width: 50%;
}

.category1 .shortcut:nth-child(1):nth-last-child(2),
.category2 .shortcut:nth-child(2):nth-last-child(1) {
    color: #d3222a;
}

/* 3 shortcuts */

.shortcut:nth-child(1):nth-last-child(3),
.shortcut:nth-child(2):nth-last-child(2),
.shortcut:nth-child(3):nth-last-child(1) {
    width: 33.33%;
}

.category1 .shortcut:nth-child(1):nth-last-child(4),
.category2 .shortcut:nth-child(2):nth-last-child(3),
.category3 .shortcut:nth-child(3):nth-last-child(2),
.category4 .shortcut:nth-child(4):nth-last-child(1) {
    color: #d3222a;
}

/* 4 shortcuts */

.shortcut:nth-child(1):nth-last-child(4),
.shortcut:nth-child(2):nth-last-child(3),
.shortcut:nth-child(3):nth-last-child(2),
.shortcut:nth-child(4):nth-last-child(1) {
    width: 25%;
}

.category1 .shortcut:nth-child(1):nth-last-child(4),
.category2 .shortcut:nth-child(2):nth-last-child(3),
.category3 .shortcut:nth-child(3):nth-last-child(2),
.category4 .shortcut:nth-child(4):nth-last-child(1) {
    color: #d3222a;
}

/* 5 shortcuts */

.shortcut:nth-child(1):nth-last-child(5),
.shortcut:nth-child(2):nth-last-child(4),
.shortcut:nth-child(3):nth-last-child(3),
.shortcut:nth-child(4):nth-last-child(2),
.shortcut:nth-child(5):nth-last-child(1) {
    width: 20%;
}

.category1 .shortcut:nth-child(1):nth-last-child(5),
.category2 .shortcut:nth-child(2):nth-last-child(4),
.category3 .shortcut:nth-child(3):nth-last-child(3),
.category4 .shortcut:nth-child(4):nth-last-child(2),
.category5 .shortcut:nth-child(5):nth-last-child(1) {
    color: #d3222a;
}

/* 6 shortcuts */

.shortcut:nth-child(1):nth-last-child(6),
.shortcut:nth-child(2):nth-last-child(5),
.shortcut:nth-child(3):nth-last-child(4),
.shortcut:nth-child(4):nth-last-child(3),
.shortcut:nth-child(5):nth-last-child(2),
.shortcut:nth-child(6):nth-last-child(1) {
    width: 16.666%;
    font-size: 2.2rem;
}

.category1 .shortcut:nth-child(1):nth-last-child(6),
.category2 .shortcut:nth-child(2):nth-last-child(5),
.category3 .shortcut:nth-child(3):nth-last-child(4),
.category4 .shortcut:nth-child(4):nth-last-child(3),
.category5 .shortcut:nth-child(5):nth-last-child(2),
.category6 .shortcut:nth-child(6):nth-last-child(1) {
    color: #d3222a;
}

/* Video */

.vs-video {
    position: relative;
    
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-thumb {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.video-thumb:before {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    
    display: block;
    content: '';
    width: 14rem;
    height: 14rem;
    
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2rem rgba(255,255,255, 0.4);
}

.video-thumb:after {
    position: absolute;
    bottom: 8rem;
    left: 9.5rem;
    
    display: block;
    content: '';
    width: 0;
    height: 0;
    
    border-top: 4rem solid transparent;
    border-bottom: 4rem solid transparent;
    
    border-left: 6.928rem solid #222;
}

.vs-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}

/* Voting */

.vs-voting {
    position: relative;
    
    padding-top: 3rem;
    padding-bottom: 2rem;
    
    border: 1px solid #222;
    border-top: none;
}

.voting-countdown {
    position: absolute;
    top: 3rem;
    right: 3rem;
    
    color: #d3222a;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
}

.voting-message {
    padding: 0 3rem;
    margin: 0 0 3rem 0;
    
    font-size: 3.2rem;
    line-height: 1em;
}

.voting-message b {
    font-weight: bold;
    color: #d3222a;
}

.voting-buttons {
    
}

.button {
    height: 12rem;
    padding: 0;
    margin: 1rem 3rem;
    cursor: pointer;
    
    background-color: #d3222a;
    border: 1px solid #d3222a;
    
    color: #fff;
    font-size: 4rem;
    line-height: 12rem;
    text-align: center;
    text-transform: uppercase;
    
    -webkit-transition: all 0.5s ease;
}

.vote .voting-buttons:hover .button {
    background-color: #222;
    border: 1px solid #222;
    
    color: #444;
}

.vote .voting-buttons .button:hover {
    background-color: #d3222a;
    border: 1px solid #d3222a;
    
    color: #fff;
}

.wait .button {
    cursor: default;
    background-color: #fff;
    border: 1px dotted #ddd;
    
    color: #ddd;
}

.wait .voting-buttons:hover .button {
    cursor: default;
    background-color: #fff;
    border: 1px dotted #ddd;
    
    color: #ddd;
}

.wait .voting-buttons .button:hover {
    cursor: default;
    background-color: #fff;
    border: 1px dotted #ddd;
    
    color: #ddd;
}
