    
    /*
    
    Basic setup
    
    */

@font-face {
	font-family: "Maquette";
	src: url("http://www.ign.com/apps/playstation/fonts/ARSMaquette-Regular.otf") format("opentype");
}

html {
    font-family: Maquette, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    max-height: 99999999;
}

body {
    margin: 0px;
    background-color: #fff;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 1em;
}

.versus-container {
    width: 608px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #888;
}



    /*
    
    Title styles
    
    */

.versus-title {
    padding: 20px;
    border-bottom: 0;
}

.versus-title span {
    display: block;
    font-size: 14px;
    line-height: 1em;
    color: #000;
}

.versus-title p {
    font-size: 22px;
    line-height: 1em;
    color: #d3222a;
    text-transform: uppercase;
    font-weight: bold;
}



    /*
    
    Video player styles
    
    */

.versus-video {
    border-bottom: 1px solid #888;
}

.video-placeholder-wrapper {
    position: relative;
    cursor: pointer;
}

.video-placeholder-wrapper:before {
    position: absolute;
    bottom: 30px;
    left: 30px;
    
    content: '';
    display: block;
    
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    
    background-color: rgba(0,0,0, 0.5);
    border: 5px solid #fff;
    border-radius: 100%;
}

.video-placeholder-wrapper:after {
    position: absolute;
    bottom: 60px;
    left: 70px;
    
    content: '';
    display: block;
    
    border-left: 50px solid #fff;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.video-placeholder {
    width: 608px;
    height: 342px;
}



    /*
    
    Status message styles
    
    */

.versus-instruction, .versus-countdown, .versus-thankyou, .versus-voting {
    position: relative;
    padding: 20px;
    height: auto;
    overflow: hidden;

    opacity: 1.0;
    -webkit-transition: all 0.2s ease;
}

.versus-timestamp {
    position: absolute;
    right: 20px;

    font-size: 14px;
    color: #d3222a;
    font-weight: bold;
}



    /*
    
    Versus, false voting items
    
    */

.false-buttons {
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
}

.false-voting-button {
    display: inline-block;
    box-sizing: border-box;
    width: 274px;
    margin-top: 20px;
    
    border: 1px dotted rgba(0,0,0, 0.1);
    
    font-size: 20px;
    line-height: 3em;
    text-align: center;
    text-transform: uppercase;
    
    color: rgba(0,0,0, 0.1);
}

    /*
    
    PS4, Xbone swap
    
    */

.false-buttons, .versus-buttons {
    position: relative;
    width: 568px;
    height: 82px;
}

.false-voting-button:nth-child(1), .versus-voting-button:nth-child(1) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

.false-voting-button:nth-child(2), .versus-voting-button:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}




    /*
    
    Versus, voting items
    
    */

.versus-voting {
    font-size: 0;
}

.hide {
    display: none;
}

.versus-voting b {
    color: #d3222a;
}

.versus-voting-button {
    display: inline-block;
    width: 274px;
    margin-top: 20px;
    
    color: #fff;
    font-size: 20px;
    line-height: 3em;
    text-align: center;
    text-transform: uppercase;
    
    background-color: #d3222a;
    
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
}

.versus-buttons:hover .versus-voting-button {
    background-color: rgba(0,0,0, 0.8);
    color: rgba(255,255,255, 0.2);
}

.versus-buttons:hover .versus-voting-button:hover {
    background-color: #d3222a;
    color: #fff;
}

.ps4 {
    margin-right: 10px;
}

.xbone {
    margin-left: 10px;
}


    
    /*
    
    Sections
    
    */

.versus-sections {
    text-align: center;
    border-top: 1px dotted rgba(0,0,0, 0.1);
    font-size: 0;
}

.section {
    display: inline-block;
    
    box-sizing: border-box;
    width: 94px;
    padding: 10px 0 15px 0;
    
    color: #bbb;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
}

.section:hover {
    color: #888;
}

.selsec {
    color: #d3222a;
}


   
    /*
    
    Stages
    
    */

.stage-waiting .versus-countdown, .stage-waiting .versus-voting, .stage-waiting .versus-thankyou {
    padding: 0;
    opacity: 0.0;

    height: 0;
    overflow: hidden;
}

.stage-countdown .versus-instruction, .stage-countdown .versus-voting, .stage-countdown .versus-thankyou {
    padding: 0;
    opacity: 0.0;

    height: 0;
    overflow: hidden;
}
    
.stage-voting .versus-instruction, .stage-voting .versus-countdown, .stage-voting .versus-thankyou {
    padding: 0;
    opacity: 0.0;

    height: 0;
    overflow: hidden;
}
    
.stage-thankyou .versus-instruction, .stage-thankyou .versus-countdown, .stage-thankyou .versus-voting {
    padding: 0;
    opacity: 0.0;

    height: 0;
    overflow: hidden;
}
